.read-more-link {
    display: inline-block;
    padding: 10px 70px;
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    text-decoration-color: #000000;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 25px;
  }
  
  .read-more-link:hover {
    background-color: #ffffff;
    border-radius: 30px;
    border: solid black 2px;
    color: #000000;

  }
  .box{
    border: solid black 3px;
    display: inline-block;
    width: 280px;
  }
  .box p{
    display: inline;
   
  }
  .content{
    text-align: center;
    margin-top: 40px;
  }
  .box img{
    height: 70px;
    margin-left: 100px;
    margin-top: 20px;
    
  }
  .box:hover{
    background-color: rgb(158, 22, 22);
  }